packages:
  yum:
    python3-devel: []
    mariadb105-devel: []

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  #02_flush:
    #command: "source /var/app/venv/*/bin/activate && python3 manage.py flush --noinput"
    #leader_only: true
  03_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py createsuperuser --userName root --name root --callNumber 010-0000-0000 --address root --noinput"
    leader_only: true
    ignoreErrors: true
    env:
      DJANGO_SUPERUSER_PASSWORD: root
  04_collectmedia:
    command: "cp -r mediafiles/* /efs/"
    leader_only: true
    ignoreErrors: true
  05_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: false

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
    /media: /efs/
  aws:elasticbeanstalk:container:python:
    WSGIPath: shop.wsgi:application