packages:
  yum:
    python3-devel: []
    mariadb105-devel: []

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations && python3 manage.py migrate && python3 manage.py collecctstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: shop.wsgi:application