{% extends "master.html" %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <body>
            <section>
                <form method="POST">
                  {% csrf_token %}
                    <table class="table" style = "margin-top:100px;">
                      <thead>
                          <tr>
                            <th scope="col">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                                  </div>
                            </th>
                            <th scope="col">상품</th>
                            <th scope="col">판매자</th>
                            <th scope="col">수량</th>
                            <th scope="col">단가</th>
                            <th scope="col">가격</th>
                            <th scope="col">배송비</th>
                            <th scope="col">비고</th>
                          </tr>
                        </thead>
                        {% for item in items %}
                        <tbody>
                          <tr>
                            <th style= "padding:15px;" scope="row">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                                  </div>
                            </th>
                            <td style= "padding:15px;">{{ item.name }}</td>
                            <td style= "padding:15px;">{{ item.seller }}</td>
                            <td style= "padding:15px;">{{ item.amount }}</td>
                            <td style= "padding:15px;">{{ item.price }}</td>
                            <td style= "padding:15px;">{{ item.totalPrice }}</td>
                            <td style= "padding:15px;">{{ item.deliveryCost }}</td>
                            <td style= "padding:15px;">
                              <input type="hidden" name="item" value="{{item.id}}">
                              <input type="hidden" name="operation" value="1">
                              <button type="submit" class="btn btn-dark">삭제</button>
                            </td>
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                <div>
                    <h6 style="text-align: right;margin-top:50px;">총 상품 가격 : {{cost.grandPrice}}원</h2>
                    <h6 style="text-align: right">총 배송비 : {{cost.grandDeliveryCost}}원</h2>  
                    <h4 style="text-align: right;">총 결제 금액 : {{cost.grandPrice|add:cost.grandDeliveryCost}}원</h2>

                </div>
                <div style="display: flex;justify-content: center;margin-top:30px;margin-bottom: 100px;">
                    <button onClick="location.href='/'" type="button" class="btn btn-light">쇼핑 계속하기</button>
                    <button onClick="location.href='/order'" type="button" class="btn btn-dark">주문하기</button>
                </form>
            </section>
        </body>
{% endblock %}
