{% extends "master.html" %}
{% block content %}
        <!-- Section-->
            <div class="wrap">
                <form class="login" method="POST" action="{% url 'shopapp:login' %}">
                    {% csrf_token %}
                    <h2>Log-in</h2>

                    {% if next %}
                        {% if !user.is_authenticated %}
                            <p>로그인이 필요합니다.</p>
                        {% else %}
                        {% endif %}
                    {% endif %}

                    {% if form.errors %}
                    <p>아이디 또는 비밀번호가 올바르지 않습니다.</p>
                    {% endif %}
                    
                    <div class="login_id">
                        <h4>Id</h4>
                        {% comment %} <input type="text" name="userid" id="" placeholder="Email"> {% endcomment %}
                        {{ form.username }}
                    </div>
                    <div class="login_pw">
                        <h4>Password</h4>
                        {% comment %} <input type="password" name="password" id="" placeholder="Password"> {% endcomment %}
                        {{ form.password }}
                    </div>
                    <div class="login_etc">
                        <div class="checkbox">
                        </div>
                        <div class="forgot_pw">
                        <a href="{% url 'shopapp:register' %}">sign up</a>
                    </div>
                    </div>
                    <div class="submit">
                        <input type="submit" value="submit">
                    </div>
                    {% comment %} <input type="hidden" name="next" value="{{ next }}"> {% endcomment %}
                </form>
            </div>
{% endblock %}