{% extends "master.html" %}
{% block content %}
        <!-- Form을 사용해서 구현할 예정 -->  
        <!-- Section -->
        <body>
            <div class="wrap2">
                <form class="register" method="POST" action="{% url 'shopapp:register' %}">
                    <h2>Register</h2>
                    <div class="login_id">
                        <h6>아이디</h6>
                        <input type="text" name="" id="" placeholder="example">
                    </div>
                    <div class="login_pw">
                        <h6>이름</h6>
                        <input type="text" name="" id="" placeholder="홍길동">
                    </div>
                    <div class="login_pw">
                        <h6>전화번호</h6>
                        <input type="text" name="" id="" placeholder="010-0000-0000">
                    </div>
                    <div class="login_pw">
                        <h6>Address</h6>
                        <input type="text" name="" id="" placeholder="충북 청주시 청원구 대성로 298">
                    </div>
                    <div class="login_pw">
                        <h6>비밀번호</h6>
                        <input type="password" name="" id="" placeholder="Password">
                    </div>
                    <div class="login_pw">
                        <h6>비밀번호 확인</h6>
                        <input type="password" name="" id="" placeholder="Password">
                    </div>
                    <div class="login_etc">
                        <div class="checkbox">
                        </div>
                        <div class="forgot_pw">
                        <a href="">sign up</a>
                    </div>
                    </div>
                    <div class="submit">
                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>
        </body>
{% endblock %}