{% extends "master.html" %}
{% block content %}
        <!-- Form을 사용해서 구현할 예정 -->  
        <!-- Section -->
        <body>
            <div class="wrap2">
                <form class="register" method="POST" action="{% url 'shopapp:register' %}">
                    {% csrf_token %}
                    <h2>Register</h2>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <div class="login_id">
                        <h6>아이디</h6>
                        {{form.userName}}
                    </div>
                    <div class="login_pw">
                        <h6>이름</h6>
                        {{form.name}}
                    </div>
                    <div class="login_pw">
                        <h6>전화번호</h6>
                        {{form.callNumber}}
                    </div>
                    <div class="login_pw">
                        <h6>주소</h6>
                        {{form.address}}
                    </div>
                    <div class="login_pw">
                        <h6>비밀번호</h6>
                        {{form.password1}}
                    </div>
                    <div class="login_pw">
                        <h6>비밀번호 확인</h6>
                        {{form.password2}}
                    </div>
                    <div class="login_etc" style="display: none">
                        <div class="checkbox">
                        </div>
                        <div class="forgot_pw">
                        <a href="">sign up</a>
                    </div> 
                    </div>
                    <div class="submit">
                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>
        </body>
{% endblock %}